{% extends 'base_back.html.twig' %}

{% block title %}Création domaine artistique{% endblock %}

{% block body %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <h1>Création domaine artistique</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Création domaine artistique</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="col-md-6">
                    {{ include('back/domain_artist/_form.html.twig') }}
                </div>
            </div>
            <!-- /.card-body -->
            <div class="col-md-3">
                <a href="{{ path('back_domain_artist_index') }}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
