
    <!-- CHAT WIDGET CLOSE BUTTON -->
    <div class="chat-widget-close-button">
        <!-- CHAT WIDGET CLOSE BUTTON ICON -->
        <svg class="chat-widget-close-button-icon icon-back-arrow">
            <use xlink:href="#svg-back-arrow"></use>
        </svg>
        <!-- CHAT WIDGET CLOSE BUTTON ICON -->
    </div>
    <!-- /CHAT WIDGET CLOSE BUTTON -->

    <!-- USER STATUS -->
    <div class="user-status">
        <!-- USER STATUS AVATAR -->
        <div class="user-status-avatar">
            <!-- USER AVATAR -->
            <div class="user-avatar small no-outline online">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-image-30-32" data-src="{{ asset( constant('App\\Services\\File\\UploadFile::AVATAR_UPLOAD_DIR')) ~ user.avatar }}"></div>
                    <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->

                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                    <!-- HEXAGON -->
                    <div class="hexagon-progress-40-44"></div>
                    <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->

                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-border-40-44"></div>
                    <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->

                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                    <!-- USER AVATAR BADGE BORDER -->
                    <div class="user-avatar-badge-border">
                        <!-- HEXAGON -->
                        <div class="hexagon-22-24"></div>
                        <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR BADGE BORDER -->

                    <!-- USER AVATAR BADGE CONTENT -->
                    <div class="user-avatar-badge-content">
                        <!-- HEXAGON -->
                        <div class="hexagon-dark-16-18"></div>
                        <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR BADGE CONTENT -->

                    <!-- USER AVATAR BADGE TEXT -->
                    <p class="user-avatar-badge-text">16</p>
                    <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
            </div>
            <!-- /USER AVATAR -->
        </div>
        <!-- /USER STATUS AVATAR -->

        <!-- USER STATUS TITLE -->
        <p class="user-status-title"><span class="bold">{{ user.pseudo }}</span></p>
        <!-- /USER STATUS TITLE -->

        <!-- USER STATUS TAG -->
        <p class="user-status-tag online">Online</p>
        <!-- /USER STATUS TAG -->
    </div>
    <!-- /USER STATUS -->
