<h2>Mot de passe provisoire</h2>

<p>Suite à la création de votre compte <a href="https://adopteunartiste.com/" target="_blank">AdopteUnArtiste.com</a>, un mot de passe provisoire vous a été délivré ci-dessous :</p>

<p>Mot de passe : {{ password }}</p>

<p>Vous pouvez maintenant vous connecter à votre compte. Pensez à modifier votre mot de passe rapidement.</p>

<p>L'équipe <a href="https://adopteunartiste.com/" target="_blank">AdopteUnArtiste</a></p>
